

#root {
  margin: 0;
  padding: 2rem;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  padding: 1em;
}

label{
  font-weight: bold;
}
button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: black;
  margin-left: 0.5em;
}
form{
  padding: 2em;
  border: solid black 1px;
  width:300px;
  margin-right: 15em;
  margin-bottom: 2em;
}

h1{
  text-align: center;
  color: forestgreen;
}

h2{
  font-size: 2.9em;
  color: rgb(32, 78, 32);
}

input{
  border-color: forestgreen;
}

.formattedData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto; 
  height: auto;
  margin-left: 3em;
  margin-bottom: 2em;
  border-bottom: solid black 1px;
  padding: 2em;
  line-height: 0.5;
}

.formS{
margin-right: 25.5em;
}

.formK{
  margin-right: 25.5em;
}

.formF{
  margin-right: 25.5em;
}

#formular {
  display: flex;
  flex-direction: column;

}

#school {
  display: flex;
  flex-direction: row;
}

#karriere {
  display: flex;
  flex-direction: row;
}


#root > div >div {
display:flex;
justify-content: center;
}