#root {
  max-width: fit-content;
  margin: 0 ;
  padding: 2rem;
  text-align: left;
}
.container{
  float: left;
  margin-left: 200px;
}
.formattedData{
  position: absolute;
  height: 350px;
  width: 550px;
  float: right;
  border: black solid 1px;
  margin-left: 400px;
}
#school{
margin-top: -450px;
}
#formular{
margin-top: -550px;
}
#karriere{
margin-top: -490px;
}

